html
{
    overflow: auto;
}

body
{
	font: 16px "Maven Pro", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	/*letter-spacing: -1px;*/
	line-height: 130%;
	color: #000;
	background-color: #fff;
	/*rgb(241, 241, 241)*/
}

a {
    color: #444;
}

a:visited {
    color: #444;
}

a:active {
    color: #444;
}

header
{
	display: block;
	padding: 6px 4px;
}

.class-description {
    font-style: italic;
	/*font-family: Palatino, 'Palatino Linotype', serif;*/
	font-weight: 300;
	font-size: 130%;
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 1em;
}

#main {
    float: left;
    width: 100%;
}

section
{
	display: block;
	
	background-color: #fff;
	padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 240px;
}

.variation {
    display: none;
}

.optional:after {
	content: "opt";
	font-size: 60%;
	color: #aaa;
	font-style: italic;
	font-weight: lighter;
}

nav
{
	position: fixed;
	right: 10px;
	z-index: 10;
	display: block;
	float: left;
    /*margin-left: -230px;*/
    margin-top: 28px;
    width: 220px;
    border-left: 1px solid #ccc;
    padding-left: 9px;
    
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

nav ul {
    /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;*/
    font-weight: 300;
    font-size: 100%;
    line-height: 17px;
    padding:0;
    margin:0;
    list-style-type:none;
}

nav h2 a, nav h2 a:visited {
    /*color: #003165;*/
    color: #003165;
    text-decoration: none;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

nav a {
    color: #5C5954;
}

nav a:visited {
    color: #5C5954;
}

nav a:active {
    color: #5C5954;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1
{
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 9px 0;
}

h2
{
	font-size: 170%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
}

h3
{
	font-size: 150%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 6px 0 3px 0;
}

h4
{
	font-size: 130%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 18px 0 3px 0;
	color: #003165;
}

h5, .container-overview .subsection-title
{
	font-size: 120%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 8px 0 3px -16px;
}

h6
{
	font-size: 100%;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
	font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.important
{
	font-weight: bold;
	color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
	/*font-family: Consolas, "Lucida Console", Monaco, monospace;*/
	letter-spacing: normal;
}

.details { margin-top: 14px; }
.details dt { width:100px; float:left; border-left: 2px solid #DDD; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }

.description {
	margin-bottom: 1em;
	margin-left: -16px;
	margin-top: 1em;
}

.code-caption
{
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 107%;
	margin: 0;
}

.prettyprint
{
	border: 1px solid #ddd;
	width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
	/*
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	letter-spacing: normal;
	font-size: 100%;
	line-height: 18px;
	display: block;
	padding: 4px 12px;
	margin: 0;
	background-color: #fff;
	color: #000;
	border-left: 3px #ddd solid;
	*/
	font-family: Monaco, Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Consolas, monospace;
}

.params, .props
{
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
}

.params .name, .props .name, .name code {
	color: #003165;
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	letter-spacing: normal;
	font-size: 100%;
}

.params td, .params th, .props td, .props th
{
	/*border: 1px solid #ddd;*/
	margin: 0px;
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	display: table-cell;
}

.params thead tr, .props thead tr
{
	/*background-color: #ddd;*/
	font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
	/*background-color: #fff;*/
	font-weight: bold;
}

/*.params th, .props th { border-right: 1px solid #aaa; }
.params thead .last, .props thead .last { border-right: 1px solid #ddd; }*/

.disabled {
    color: #454545;
}

#main .top-index {
	
	position:relative;
	z-index:2;
	padding-top: 70px;
	max-width: 1000px;
	
}

#creative-sandbox {
	
	width: 480px;
	height: 360px;
	position: absolute;
	z-index: 1;
	
}

.sub-namespace {
	margin-left: 10px;
}

.container-overview > dt > h4 {
	display: none;
}

dt.tag-since {
	background: #003165;
	color: white;
	padding-bottom: 5px;
	opacity: 0.8;
}


table {
	border-spacing:0;
	background:#eaebec;
	margin:20px 0;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 0px 1px #000, 0 0px 1px #d1d1d1;
	-webkit-box-shadow: 0 0px 1px #000, 0 0px 1px #d1d1d1;
	box-shadow: 0 0px 1px #000, 0 0px 1px #d1d1d1;
}
table th {
	/*padding:21px 25px 22px 25px;*/
	padding: 12px 10px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	color:#666;
	font-weight:400;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding: 0.5em 1em !important;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	font-size: 95% !important;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

article > dl > dd {
	margin-bottom: 50px;
}

article > dl:nth-of-type(1) > dd {
	margin-bottom: 0;
}